/node_modules
/web-build
node_modules/**/*
.expo/*
npm-debug.*
*.mobileprovision
*.orig.*
web-build/
.tmp/*

# macOS
.DS_Store
yarn-error.log
—reset-cache/.expo/README.md
—reset-cache/.expo/settings.json
help/.expo/README.md
help/.expo/settings.json
